.ComponentListEntry-entry {
  padding: 10px;
  border: 2px solid #fe5f55;
  border-radius: 20px;
  margin: 10px 5px;
  text-align: center;
  transition: 0.8s;
  user-select: none;
  cursor: pointer;
  background-color: #333745;
  color: #eef5db;
  /*user-select: contain;*/
}

.ComponentListEntry-entry:hover, .ComponentListEntry-entry:active {
  background-color: #fe5f55;
  color: #eef5db;
}
