.container {
  height: 90vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

.container-left {
  grid-row: 1;
  grid-column: 1;
  border: 5px none black;
  border-right-style: dotted;
}

.container-right {
  grid-row: 1;
  grid-column: 2;
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
}

.Container-component {
  display: flex;
  padding: 20px;
}

.Container-delete-button {
  justify-content: right;
  margin-left: 10px;
  height: 20px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: red;
  user-select: none;
  cursor: pointer;
  display: block;
}
