.navbar {
  background-color: #fe5f55;
  color: #eef5db;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 10vh;
  user-select: none;
}

.navbar-h1 {
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 5vw;
  font-size: 5vh;
  font-weight: 100;
}
