.Share-rounded {
    border-radius: 25px;
    background: #fe5f55;
    padding: 25px 25px 25px 25px;
    width: 230px;
    height: 170px;
    font-family: Arial, serif;
    user-select: none;
}

.Share-boxTitle {
    font-size: 30px;
    color: #333745;
    font-weight: bold;
    display: inline;
}

.Share-display {
    font-size: 35px;
    color: #eef5db;
    font-weight: bold;
    display: inline;
}

.Share-info {
    font-size: 15px;
    color: #c7efcf;
    display: inline;
}

.Share-arrow {
    padding-left: 5px;
    padding-right: 5px;
    height: 15px;
    width: 15px;
}

.Share-price {
    height: 35px;
    width: 55px;
}
