<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_77b6d"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 450,
                "height": 300,
                "symbol": "NYSE:DELL",
                "interval": "30",
                "timezone": "Etc/UTC",
                "theme": "Light",
                "style": "1",
                "locale": "in",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "hide_legend": true,
                "allow_symbol_change": true,
                "calendar": true,
                "show_popup_button": true,
                "popup_width": "1000",
                "popup_height": "650",
                "container_id": "tradingview_77b6d"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
